### Author : ABDELMONEM ELMONGY
### Data     : 09/2023

# Project : Diabetes Dataset
This dataset is originally from the N. Inst. of Diabetes & Diges. & Kidney Dis.

## About Dataset:

### Context:
This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective is to predict based on diagnostic measurements whether a patient has diabetes.

### Content:
Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage.

    Pregnancies: Number of times pregnant
    Glucose: Plasma glucose concentration a 2 hours in an oral glucose tolerance test
    BloodPressure: Diastolic blood pressure (mm Hg)
    SkinThickness: Triceps skin fold thickness (mm)
    Insulin: 2-Hour serum insulin (mu U/ml)
    BMI: Body mass index (weight in kg/(height in m)^2)
    DiabetesPedigreeFunction: Diabetes pedigree function
    Age: Age (years)
    Outcome: Class variable (0 or 1)

### Sources:
(a) Original owners: National Institute of Diabetes and Digestive and Kidney Diseases<br>

(b) Donor of database: Vincent Sigillito (vgs@aplcen.apl.jhu.edu)
    Research Center, RMI Group Leader<br>
    Applied Physics Laboratory<br>
    The Johns Hopkins University<br>
    Johns Hopkins Road<br>
    Laurel, MD 20707<br>
    (301) 953-6231<br>
    
(c) Date received: 9 May 1990

[Source from kaggle](https://www.kaggle.com/datasets/mathchi/diabetes-data-set)

#### Number of Instances: 768
#### Number of Attributes: 8 plus class
#### For Each Attribute: (all numeric-valued)

    1. Number of times pregnant
    2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
    3. Diastolic blood pressure (mm Hg)
    4. Triceps skin fold thickness (mm)
    5. 2-Hour serum insulin (mu U/ml)
    6. Body mass index (weight in kg/(height in m)^2)
    7. Diabetes pedigree function
    8. Age (years)
    9. Class variable (0 or 1)

#### Missing Attribute Values: Yes
#### Class Distribution: (class value 1 is interpreted as "tested positive for diabetes")

## Table of Contents
<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#wrangling">Data Wrangling</a></li>
    <li><a href="#eda">Exploratory Data Analysis</a></li>
</ul>

<a id='intro'></a>
## Introduction

#### Your task is to:

01 - Gathering data.

02 - Assessing data.

03 - Cleaning data.

04 - Storing data.

05 - Analyzing, and visualizing data.

06 - Reporting

        your data wrangling efforts
        your data analyses and visualizations

In [1]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import colors
from matplotlib.ticker import PercentFormatter

%matplotlib inline

import os

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you **document your data cleaning steps in mark-down cells precisely and justify your cleaning decisions.**

## Data Wrangling which include :
<li><a href="#Gathering">Gathering Data</a></li>
<li><a href="#Assessing">Assessing Data</a></li>
<li><a href="#Cleaning">Cleaning Data</a></li>

## Gathering Data
<a id='Gathering'></a>

### 1.Importing Enhanced Twitter Archive

we aqucistion data from dataset like : csv file in our example

In [2]:
# Load your data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.
diabetes = pd.read_csv('data/diabetes.csv')

we use head() or tail() function to display a sample of data

In [3]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
diabetes.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Assessing Data
<a id='Assessing'></a>

### 1.Assessing Enhanced Twitter Archive

We assessing our data using some function like : shape , ndim , dtypes , size  , info() , nunique() , isnull()

In [5]:
# return number of columns and number of row
diabetes.shape

(768, 9)

the shape function get number of rows and number of columns in tuple

In [6]:
#return number of dimensions of data
diabetes.ndim

2

size function show us the result of multiplication of number of rows and number of columns

In [7]:
# return size of Dataset which is a multiplication of number of rows and number of columns
diabetes.size

6912

dtypes show us data type of each column (features)

In [8]:
diabetes.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [9]:
#return types of each column
diabetes.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

info() function show us number of non_null_value in each column and datatype

it has two features(no of non_null_value,datatype)

In [10]:
#return number of non-null-value and datatype of each column
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

nunique() show us number of unique values in each column

In [11]:
#return number of unique value
diabetes.nunique()

Pregnancies                  17
Glucose                     136
BloodPressure                47
SkinThickness                51
Insulin                     186
BMI                         248
DiabetesPedigreeFunction    517
Age                          52
Outcome                       2
dtype: int64

In [12]:
Outcome_value_counts = df.Outcome.value_counts()
Outcome_value_counts

NameError: name 'df' is not defined

In [13]:
Age_value_counts = df.Age.value_counts()
Age_value_counts

NameError: name 'df' is not defined

isnull() function show us boolean value for each element (each cell) it is null or not

if it(element) null return True

else  return False

In [14]:
# return which value is nul or not for each element in DataSet 
diabetes.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

isnull().any() function show us boolean value for each column it is null or not

if column null return True

else  return False

In [15]:
# return which value is nul or not for each columns in DataSet 
diabetes.isnull().any()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

isnull().any() function show us boolean value for each column it is null or not

if column null return 1

else  return 0

In [16]:
#return number of columns has a null value
diabetes.isnull().any().sum()

0

In [17]:
#return number of null value for each column
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [18]:
#return a number of cell has a null value
diabetes.isnull().sum().sum()

0

describe() function show us descriptive statistical value for each column

in 8 value such as: count element in each column
    
                    mean : getting average in each column
                    
                    std : standarded deviation
                        
                    min : minimum value in each column
                        
                    max : maximum value in each column
                        
                    50% : median of value for each column

In [20]:
#return statistical descriptive of dataset for each column
diabetes.describe(include = 'all')

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## Cleaning Data
<a id='Cleaning'></a>

### Data Cleaning

#### ISSUSES

1.duplicated data

2.missing value

3.incorrect datatype

from assessing no NULL value

we will check for missing value and incorrect datatype

#### Code

In [ ]:
clean_diabetes = diabetes.copy()

#### Test

In [ ]:
clean_diabetes.head(1)

##### Issues 1#

## cleanning tidiness issuses

### duplicted value

#### code

In [ ]:
clean_diabetes.duplicated()

##### Test

In [ ]:
clean_diabetes.duplicated().sum()

##### Define

## cleaning quality issuses 2#

In [ ]:
clean_diabetes.info()

In [ ]:
clean_diabetes.head(1)

In [ ]:
sum(clean_diabetes.isnull().any())

### incorrect datatype

# NON Incorrect datatype

#### checking

In [ ]:
clean_diabetes.dtypes

In [ ]:
clean_diabetes.info()

# storing Data

In [ ]:
import os

directory_path = "./new data/"
os.makedirs(directory_path, exist_ok=True)

In [ ]:
clean_diabetes.to_csv("./new data/clean_diabetes.csv");

#### DONE
#### non_dublicated data....non_missing value....non incorrect datatype

<a id='eda'></a>
# Analysis and visualization

## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations.

### load our cleaned data

In [ ]:
# Load your data and print out a few lines. Perform operations to inspect data
# types and look for instances of missing or possibly errant data.
df = pd.read_csv('new data/clean_diabetes.csv')

using hist() function to draw Histogram for each column 

and use figsize(,) parameter to show it obviously

In [ ]:
# Use this, and more code cells, to explore your data. Don't forget to add
# Markdown cells to document your observations and findings.

df.hist(figsize = (30,18));

using plotting.scatter_matrix() function to draw Histogramsfor each column 

and scatter plotting between numerical columns 

and use figsize(,) parameter to show it obviously

In [ ]:
pd.plotting.scatter_matrix(df, figsize = (20,20));

In [ ]:
df.info()

In [ ]:
df_value_counts = df.value_counts() 
df_value_counts

In [ ]:
# Creating a pie chart
plt.pie (stage_df,
         labels = ['Pupper','Doggo','Puppo','Floofer'],
         autopct = "%1.1f%%",
         shadow = True,
         explode = (0.1,0.2,0.2,0.3)
        )
plt.title ("Percentage of dog stages")
plt.axis ('equal')

In [ ]:
plt.scatter(clean_t_archive.retweet_count , clean_t_archive.favorite_count) 
plt.title ("Relationship between retweet count and favorite count") 
plt.xlabel ("Retweet Count") 
plt.ylabel ("Favorite Count")